.footer {
  background-color: var(--color-blue-dark-1);
  &__copy-right {
    // margin: 6rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 200;
    color: #fff;
    padding: 10rem;
  }
}
